@use '../../styles/mixins/interactive';

.button {
    padding: 6px 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 4px;

    color: white;
    background-color: rgb(205, 4, 0);
    box-shadow: rgb(0, 0, 0) 2px 2px 0px 0px;
    border: solid 2px rgb(205, 4, 0);

    &:focus-within {
        @include interactive.focus-outline;
    }
}